<link rel="stylesheet" href="~/css/HomeStyleSheet.css" />
@{
    ViewData["Title"] = "Index";
}

<h2 class="home-title">Welkom bij Eye4Participation</h2>

<p class="home-paragraph">In opdracht van de gemeente <span>Eindhoven</span> gaan we een applicatie maken die een gedetailleerde match kan leggen tussen oudere hulpbehoevenden en vrijwilligers. Iedere gebruiker heeft een account waarmee hij/ zij kan inloggen door middel van zijn of haar e-mailadres of een RFID-scanner. De applicatie bestaat uit vier systemen: het eerste systeem omvat het hulpsysteem waar de hulpbehoevenden gebruik van kunnen maken. Het is namelijk voor de hulpbehoevende mogelijk om door middel van een hulpvraag eenvoudig contact te zoeken met beschikbare vrijwilligers. De hulpbehoevende hebben daarnaast de mogelijkheid om de gekoppelde vrijwilliger te beoordelen. Op de hulpvraag kunnen vrijwilligers antwoord geven via hun eigen systeem zodra een vrijwilliger is ingeschreven. Het communiceren van de twee partijen gebeurt door middel van een chatsysteem die een hulpbehoevende aan een juiste vrijwilliger koppelt. Wanneer een chat voltooid is kan een professionele hulpverlener deze inlezen en het kennismakingsgesprek in zien. Tot slot heeft de beheerder toegang tot het beheersysteem. Hiermee kan hij/ zij onderhoud en toezicht plegen. </p>

