
@{
    ViewData["Title"] = "CreateProfessional";
}

<h2>CreateProfessional</h2>

<form class="login-div" asp-action="CreateProfessional" asp-controller="Admin">
    <div class="form-group">
        <label class="control-label">Email-adres</label>
        <input name="emailaddress" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Stuur mail" class="btn btn-primary btn-lg btn-block" />
    </div>
</form>
